<ion-header>
  <ion-toolbar color = "primary" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-card-title class="ion-text-center">Noticias mas recientes</ion-card-title>
    <ion-card  color = "medium" *ngFor="let noticias of listaNoticias">
      <img [src]="noticias['foto']">
      <ion-card-header>
        <ion-card-title>{{ noticias['titulo'] }}.</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <p><strong>Dia de la tragedia de el {{ noticias['fecha'] }}.</strong> </p><hr>
        <p>{{ noticias['contenido'] }}</p>
      </ion-card-content>
    </ion-card>

  </ion-card>
 
</ion-content>
