<ion-header>
  <ion-toolbar color = "primary" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Situaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="center" style="margin-top:50px">
     <div linespace></div>
     <h1>Situaciones Realizadas</h1>
  </div>

  <ion-list>
    <ion-item  *ngFor ="let data of lista" >
      <ion-card>
      <ion-card-content>
        <div>
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header" color="light" style="width: 300px;">
                <ion-label>{{data.titulo}}</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <img src="{{data.foto}}" width="250" height="150"><br><br>
                <b>Voluntario:</b><br>
                {{data.voluntario}}<br><br>
                <b>Descripcion:</b><br>
                {{data.descripcion}}<br>
                <b>Latitud:</b><br>
                {{data.latitud}}<br>
                <b>Longitud:</b><br>
                {{data.longitud}}<br>
                <b>Estado:</b><br>
                {{data.estado}}<br>
                <b>Fecha:</b><br>
                {{data.fecha}}<br>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-list>
</ion-content>
