<ion-header>
  <ion-toolbar color = "primary" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Desarrolladores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="background-color: #90A4AE">
    <img
      src="https://media-exp1.licdn.com/dms/image/C5603AQGTe2wF5Av2sQ/profile-displayphoto-shrink_800_800/0/1662684441140?e=2147483647&v=beta&t=d8JC59YOWtM9T6YJIR3S5AYB--SkCl06uUyv04cAZ-w"
    />
    <ion-card-content>
      <ion-card-title style="color: white"> Elvis Emanuel Sandoval </ion-card-title>
  <br>
  <ion-text color="primary">

    <p style="color: white;">
      Soy un desarrolador movil junior, con poca experiencia pero con muchas
      ganas de seguir adquiriendo conocimientos y desarrolarme en el area.
    </p>
    
    <p><ion-icon name="call"></ion-icon>
    829-860-7740</p>
    <p><ion-icon name="mail"></ion-icon>
      Elvisemanuelgamer@hotmail.com</p>
      <p><ion-icon name="logo-linkedin"></ion-icon>
       <link href="www.linkedin.com/in/ 
       elvis-emanuel-sandoval-suarez-52882024a
       "> www.linkedin.com/in/Elvis-E-Sandoval-S-EESS    
      </p>


  </ion-text>

    </ion-card-content>
  </ion-card>
  <ion-card style="background-color: #90A4AE">
    <img  style="padding-left: 20%"
    src="https://i.ibb.co/j6mZst3/img2.jpg"
  />
    <ion-card-content>
      <ion-card-title style="color: white"> Enmanuelle Martinez </ion-card-title>
  <br>
      <p style="color: white;">
        Soy un aprendiz y usuario de la tecnología, que disfruta aplicar mis 
        conocimientos para resolver problemas del mundo real mientras trabajo en grupo e independientemente. 
        Me comprometo a trabajar arduamente para enfrentar cualquier desafío que pueda surgir.
      </p>
      <br>
      <ion-text color="primary">

        <p><ion-icon name="call"></ion-icon>
          510-265-9453</p>
          <p><ion-icon name="mail"></ion-icon>
            EnmanuelleML@outlook.com</p>
            <p><ion-icon name="logo-linkedin"></ion-icon>
             <link href="https://www.linkedin.com/in/enmanuelle-martinez/ 
             "> www.linkedin.com/in/enmanuelle-martinez/ 
            </p>
    
      </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card style="background-color: #90A4AE">
    <img
      src=""
    />
    <ion-card-content>
      <ion-card-title style="color: white"> Henriquez </ion-card-title>
  <br>
      <p style="color: white;">
       .
      </p>
      
      <p style="color: white;"><ion-icon name="call"></ion-icon>
      </p>
      <p style="color: white;"><ion-icon name="mail"></ion-icon>
        </p>
        <p style="color: white;"><ion-icon name="logo-linkedin"></ion-icon>
         <link href="www.linkedin.com/in/ 
         elvis-emanuel-sandoval-suarez-52882024a
         ">  
        </p>

    </ion-card-content>
  </ion-card>
</ion-content>
