<ion-header>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Desarrolladores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="background-color: #90a4ae">
    <img
      style="width: 100%"
      src="https://media-exp1.licdn.com/dms/image/C5603AQGTe2wF5Av2sQ/profile-displayphoto-shrink_800_800/0/1662684441140?e=2147483647&v=beta&t=d8JC59YOWtM9T6YJIR3S5AYB--SkCl06uUyv04cAZ-w"
    />
    <ion-card-content>
      <ion-card-title style="color: white">
        Elvis Emanuel Sandoval
      </ion-card-title>
      <br />
      <ion-text color="primary">
        <p style="color: white">
          Soy un desarrolador movil junior, con poca experiencia pero con muchas
          ganas de seguir adquiriendo conocimientos y desarrolarme en el area.
        </p>
        <p><ion-icon name="call"></ion-icon> 829-860-7740</p>
        <p><ion-icon name="mail"></ion-icon> Elvisemanuelgamer@hotmail.com</p>
        <ion-button
          size="small"
          expand="block"
          href="https://www.linkedin.com/in/elvis-sandoval-eess/"
        >
          <ion-icon slot="start" name="logo-linkedin"></ion-icon>Linkedin
        </ion-button>
        <ion-button href="https://t.me/EESS1211" size="small" expand="block"
          >Telegram</ion-button
        >
      </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card style="background-color: #90a4ae">
    <img style="width: 100%" src="https://i.ibb.co/j6mZst3/img2.jpg" />
    <ion-card-content>
      <ion-card-title style="color: white">
        Enmanuelle Martinez
      </ion-card-title>
      <br />
      <p style="color: white">
        Soy un aprendiz y usuario de la tecnología, que disfruta aplicar mis
        conocimientos para resolver problemas del mundo real mientras trabajo en
        grupo e independientemente. Me comprometo a trabajar arduamente para
        enfrentar cualquier desafío que pueda surgir.
      </p>
      <br />
      <ion-text color="primary">
        <p><ion-icon name="call"></ion-icon> 510-265-9453</p>
        <p><ion-icon name="mail"></ion-icon> EnmanuelleML@outlook.com</p>
        <ion-button
          size="small"
          expand="block"
          href="https://www.linkedin.com/in/enmanuelle-martinez/"
        >
          <ion-icon slot="start" name="logo-linkedin"></ion-icon>Linkedin
        </ion-button>
        <ion-button href="https://t.me/EESS1211" size="small" expand="block"
          >Telegram</ion-button
        >
      </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card style="background-color: #90a4ae">
    <img
      style="width: 100%"
      src="https://media-exp1.licdn.com/dms/image/D4E03AQGzC97AUOoaZw/profile-displayphoto-shrink_200_200/0/1670621508160?e=1675900800&v=beta&t=iu7Vx1Vk9q-fen2y5WZw_8xxCXYF3lY6Yq5A5ZnvQ5E"
    />
    <ion-card-content>
      <ion-card-title style="color: white">
        Manuel E. Bernavel S.
      </ion-card-title>
      <br />
      <p style="color: white">
        Soy un joven que esta aprendiendo a desarrollar para ver que tal le va
        por esta parte, soy licenciado en psicologia clinica, que quiere
        desarrollar una aplicacion para implimentar su carrera principal, sin
        importar que clase de retos sean siempre estara dispuesto a intentarlo
        siempre.
      </p>
      <br />
      <ion-text color="primary">
        <p><ion-icon name="call"></ion-icon> 809-252-4582</p>
        <p><ion-icon name="mail"></ion-icon> manuel.bernavels@gmail.com</p>
        <ion-button
          size="small"
          expand="block"
          href="https://www.linkedin.com/in/enmanuelle-martinez/ "
        >
          <ion-icon slot="start" name="logo-linkedin"></ion-icon>Linkedin
        </ion-button>
        <ion-button href="https://t.me/manuel_bernavel" size="small" expand="block"
          >Telegram</ion-button
        >
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
