<ion-header>
  <ion-toolbar color = "primary" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card  >
    <ion-card-title class="ion-text-center">
      Defensa Civil : Videos
    </ion-card-title>

    <ion-card  *ngFor="let videos of listaVideos">
    
      <ion-card-header>
        <ion-card-title>{{ videos['titulo'] }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p><strong>Fecha:</strong> {{ videos['fecha'] }}</p>
        <p><strong>Descripcion:</strong> {{ videos['descripcion'] }}</p>
      </ion-card-content>

      <iframe width="100%" height="100%" [src]='this.transform(videos.link)'></iframe>
    </ion-card>

  </ion-card>

</ion-content>